{% extends 'base.html.twig' %}

{% block title %}Agence Site{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<section class="home">
    <nav>
        <div class="logo">
            <img src="{{ asset('images/Trip_advice.png') }}" alt="Trip Advice Logo">
        </div>
        <div class="info">
            <a href="#propos">A propos</a>
            <a href="#nouveautes">Nouveautés</a>
        </div>
    </nav>
    <div class="content">
        <div class="text-section">
            <h1>Bienvenue Sur Trip Advice</h1>
            <h2>Voyagez comme vous êtes !</h2>
            <a href="destination" class="btn">Voir les destinations</a>
        </div>
        <div class="image-section">
            <img src="{{ asset('images/avion.png') }}" alt="Avion">
        </div>
    </div>
    <div class="scroll-down">
        <span>&#x2193;</span>
    </div>
</section>

<section id="nouveautes">
    <div class="nouveautes">
        <h1>CE QUE NOUS PROPOSONS</h1>
        <p>1 ALLEZ - RETOURS VERS BALI<br />POUR SEULEMENT 1€ SYMBOLIQUE</p>
        <img src="{{ asset('images/bali.jpg') }}" alt="avion" />
    </div>
</section>

<!-- Section Partant -->
<section class="partant">
    <div class="partant-container">
        <div class="partant-text">
            <h1>Partant(e) ?</h1>
            <p>Votre été commence ici. Découvrez leurs meilleurs conseils pour une escale palpitante de 24 heures, des idées pour des séjours prolongés et explorez le Qatar avec style. Commencez par choisir votre activité préférée.</p>
            <a href="destination" class="btn-partant">Rejoins-Nous !</a>
        </div>
        <div class="partant-image">
            <img src="{{ asset('images/bali2.png') }}" alt="avion" />
        </div>
    </div>
</section>
<!-- Voyage -->
<section class="voyages-2025">
    <div class="voyages-header">
        <h1>Meilleur prix garanti pour tes voyages de 2025</h1>
        <p>
        Plonge dans l’aventure de tes rêves avec nos offres exclusives,<br /> et découvre le monde à des prix imbattables ! <br />Chaque voyage est une nouvelle histoire à raconter <br /> commence la tienne dès aujourd'hui !
        </p>
        <a href="#" class="btn-voyages">Découvre nos voyages</a>
    </div>

    <div class="voyages-gallery">
        <h2>Besoin d'inspiration ? Jette un œil à nos voyages !</h2>
        <div class="voyages-cards">
            <div class="voyage-card">
                <img src="{{ asset('images/chine.jpg') }}" alt="Chine°">
                <h3>Palais de Chine</h3>
                <p>963€ seulement</p>
            </div>
            <div class="voyage-card">
                <img src="{{ asset('images/chine2.jpg') }}" alt="Chine2">
                <h3>La vieille ville chinoise</h3>
                <p> 789€/personne </p>
            </div>
            <div class="voyage-card">
                <img src="{{ asset('images/japon.jpg') }}" alt="Japon">
                <h3>Le mont Fuji</h3>
                <p>500€ Offre spéciale !</p>
            </div>
            <div class="voyage-card">
                <img src="{{ asset('images/corée.jpg') }}" alt="Corée">
                <h3>Pont sacrée</h3>
                <p>680€/7jours </p>
            </div>
        </div>
    </div>
</section>
<!-- Section Page3 -->
<section class="page3">
    <div class="stats_1">
        <div class="produit">
            <img src="{{ asset('images/produits.png') }}" alt="Produits locaux">
            <h3>Produits locaux</h3>
        </div>
        <div class="produit">
            <img src="{{ asset('images/couverts.png') }}" alt="Restauration incluse">
            <h3>Restauration incluse</h3>
        </div>
        <div class="produit">
            <img src="{{ asset('images/stats.png') }}" alt="De plus en plus d'utilisateurs">
            <h3>De plus en plus d'utilisateurs</h3>
        </div>
    </div>
    <div class="stats_2">
        <div class="produit">
            <h2>+1k</h2>
            <h3>Utilisateur par mois</h3>
        </div>
        <div class="avis">
            <h2>84</h2>
            <h3>Avis</h3>
        </div>
        <div class="etoiles">
            <h2>4,6</h2>
            <h3>Sur 5 étoiles</h3>
        </div>
        <div class="heures">
            <h2>24h</h2>
            <h3>Temps de réponse</h3>
        </div>
    </div>
</section>
    <section class = "form">
        <div class="container">
        <div class="text-content">
            <h2>Faites un voyage inoubliable</h2>
            <p>Nous sommes ravis de vous entendre ! Veuillez remplir le formulaire pour nous contacter</p>
        </div>
        <div class="form-container">
            <form action="#" method="post">
                <input type="text" id="Nom" name="nom" placeholder="Nom *" required>
                <input type="text" id="Prenom" name="prénom" placeholder="Prénom *" required>
                <input type="text" id="address" name="adresse" placeholder="Adresse *" required>
                <input type="text" id="codePostal" name="code_postal" placeholder="Code Postal *" required>
                <input type="text" id="Ville" name="ville" placeholder="Ville *" required>
                <input type="tel" id="telephone" name="telephone" placeholder="Téléphone *" pattern="[0-9]{10}" required>
                <input type="email" id="email" name="email" placeholder="Email *" required>
                <button type="submit">Commencez votre journée</button>
            </form>
        </div>
    </div>
    </section>

{% endblock %}